@import "./src/assets/styles/variebles.scss";
@import "./src/assets/styles/mixins.scss";

.headerMenu {
  min-height: 60px;
  background-color: $bgMenu;
}

.container {
  @extend %container;
  position: relative;
}

.inner {
  @include flex();
  position: relative;

  @include media(sm) {
    flex-direction: column;
  }
}

.titleWrap {

  @include media(sm) {
    margin: 10px 0;
    margin-right: auto;
    order: -2;
    transform: scale(.7);
  }
}

.tabsWrap {
  @include media(sm) {

  }
}

.tabPack {
  background: url(../../../assets/images/packsIcon.svg) no-repeat 25% 50%;

  @include media(xs) {
    background-position-x: 15%;
  }
}

.tabProfile {
  background: url(../../../assets/images/profileIcon.svg) no-repeat 30% 50%;
}

.logoutButton {
  width: 140px;
  height: 40px;

  @include media(sm) {
    order: -1;
    margin-left: auto;
    position: relative;
    top: -40px;
  }
}



