@import "./src/assets/styles/variebles.scss";
@import "./src/assets/styles/mixins.scss";



.create {
  @extend %loginBlock;
}

.title {
  @extend %loginTitle;
}

.caption {
  @extend %loginCaption;
}

.inputWrap {
  margin-bottom: 25px;
}

.text {
  margin-bottom: 100px;

  font-size: 16px;
  text-align: left;
}

.button {
  @extend %btn;
  margin-bottom: 20px;
}

