@import "./src/assets/styles/variebles.scss";
@import "./src/assets/styles/mixins.scss";

.default {
  min-height: 35px;
  width: 100%;
  max-width: 185px;

  padding: 10px;

  @extend %sf500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: $textLight;

  background-color: $accent;
  box-shadow:
          0 4px 18px rgba(33, 38, 143, .35),
          inset 0 1px 0  rgba(255, 255, 255, .3);
  border-radius: $brBtn;
  border: none;
  cursor: pointer;

  transition: .2s;

  &:hover {
    background-color: lighten($accent, 5%);
  }

  &:active {
    background-color: darken($accent, 5%);
  }

  //@include button(0, 0, 16px, $primaryColor, $primaryColor);


/*
  @mixin button($width, $height, $fonstSize, $backgroundColor, $borderColor) {
    width: $width;
    height: $height;
    background-color: $backgroundColor;
    overflow: hidden;
    border: 3px solid $borderColor;
    border-radius: 6px;
    transition: .3s;
    @include text($fontFamilyStyle, $fonstSize, 400, $whiteTextColor);
  }*/

  //
  //
  //
  //&:hover {
  //  border-color: $secondColor;
  //  cursor: pointer;
  //}

  &:focus {
    outline: none;
  }
}

//.error {
//  @include button(0, 0, 16px, $redErrorColor, $redErrorColor);
//  background: $redErrorColor;
//
//  &:hover {
//    border-color: $brightRedErrorColor;
//    cursor: pointer;
//  }
//
//  &:focus {
//    outline: none;
//  }
//}

