@import "./src/assets/styles/variebles.scss";
@import "./src/assets/styles/mixins.scss";

.default {
  @include button(0, 0, 16px, $primaryColor, $primaryColor);

  &:hover {
    border-color: $secondColor;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.error {
  @include button(0, 0, 16px, $redErrorColor, $redErrorColor);
  background: $redErrorColor;

  &:hover {
    border-color: $brightRedErrorColor;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

