@import "./src/assets/styles/variebles.scss";
@import "./src/assets/styles/mixins.scss";

.packsList {
  padding: 25px 0;
}

.container {
  @extend %container;
}

.inner {
  min-height: 635px;

  @include flex(row, stretch, flex-start);
  border-radius: $br;

}

.aside {
  padding: 35px 25px;

  width: 243px;

  background-color: $textLight;
}

.content {
  padding: 25px 40px 25px 50px;

  width: 100%;

  background-color: #ffffff;

}

.topWrap {
  @include flex();

}

.button {
  margin: 15px 0 25px 25px
}