@import "./src/assets/styles/variebles.scss";
@import "./src/assets/styles/mixins.scss";

.pageNotFoundBlock {
  height: 80vh;
  @include flexBox(column, center, center, nowrap);
  @include text($fontFamilyStyle, 36px, 600, $primaryColor);

  @media only screen and (max-width: 750px) {
    font-size: 32px;
  }
  @media only screen and (max-width: 700px) {
    font-size: 28px;
  }
  @media only screen and (max-width: 600px) {
    font-size: 26px;
  }
  @media only screen and (max-width: 500px) {
    font-size: 24px;
  }
}