@import "./src/assets/styles/variebles.scss";
@import "./src/assets/styles/mixins.scss";

.labelStyle {
  display: flex;
  align-items: center;

  .checkbox {
    width: 16px;
    height: 16px;
  }

  .spanClassName {
    @include text($fontFamilyStyle, 16px, 400, $blackTextColor);
    text-align: center;
  }
}