@import "variebles";

@mixin container() {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  min-height: 100%;
  margin: 0 auto;
}

@mixin flexBox($flexDirection, $justifyContent, $alineItems, $flexWrap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alineItems;
  flex-wrap: $flexWrap;
}

@mixin text($fontFamily, $fontSize, $fontWeight, $whiteTextColor) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $whiteTextColor;
}

@mixin inputAndTextArea($width, $height, $fonstSize, $textColor, $border) {
  width: $width;
  height: $height;
  border: $border;
  border-radius: 8px;
  outline: none;
  padding: 4px;
  transition: .3s;
  @include text($fontFamilyStyle, $fonstSize, 500, $textColor);
}

@mixin button($width, $height, $fonstSize, $backgroundColor, $borderColor) {
  width: $width;
  height: $height;
  background-color: $backgroundColor;
  overflow: hidden;
  border: 3px solid $borderColor;
  border-radius: 6px;
  transition: .3s;
  @include text($fontFamilyStyle, $fonstSize, 400, $whiteTextColor);
}