$whiteTextColor: #F8F9FE;
$blackTextColor: #111111;
$greyTextColor: #4f4f4f;
$primaryColor: #0075FF;
$secondColor: #005CC8;
$redErrorColor: #E75C5C;
$brightRedErrorColor: #D92121;
$fontFamilyStyle: 'Mukta', sans-serif;